# LEMPer configuration file
#
# Do not remove this file!
# To make changes copy this file as ".env" file

[lemper]
# LEMP stack environment.
# Use development for local environment or production for live environment.
ENVIRONMENT="production"

# Auto install, true for auto installation,
# false for manual or guided installation.
AUTO_INSTALL=true

# Cleanup existing LEMP / LAMP stack installation.
AUTO_REMOVE=false
FORCE_REMOVE=false

# Dry run install, true for testing only.
DRYRUN=false

# Logging for installation process.
LOGGING=true

# Server hostname must be valid FQDN format, leave it blank for system default.
SERVER_HOSTNAME=""

# Server IP address, leave it blank for auto detection.
SERVER_IP=""

# Default account username.
LEMPER_USERNAME="lemper"

# Password for default lemper account,
# leave it blank for auto generated secure password.
LEMPER_PASSWORD=""

# Administration email. Change it! don't leave it blank!
ADMIN_EMAIL="mail@example.com"

# Default Timezone, leave it blank to use default UTC timezone
# or "none" for current server setting.
# Ref: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# Example: Asia/Jakarta
TIMEZONE="UTC"

# Build directorty.
BUILD_DIR="/usr/local/src/lemper"

[ssh]
# Customized SSH port.
SSH_PORT=2269

# Allow SSH root login (value: true | false).
SSH_ROOT_LOGIN=false

# Password-less SSH, login with key (value: true | false).
SSH_PASSWORDLESS=false

# Your RSA Public key.
RSA_PUB_KEY="copy your ssh public rsa key here"

# Hash length (bits), supported value 2048 | 4096 (take too long times)
# length of bits used for generating RSA key / Diffie-Helman params.
HASH_LENGTH=2048

[nginx]
INSTALL_NGINX=true
NGINX_INSTALLER="source"

# Supported Nginx version: stable (lts) | latest (mainline),
# version number e.g. 1.18.0 (only if Nginx build from source).
NGINX_VERSION="stable"

# Extra Nginx build parameters,
# requires Nginx installation from source.

# Build with custom OpenSSL.
NGINX_WITH_CUSTOMSSL=false

# Available custom SSL version: e.g. openssl-1.1.1g, libressl-3.0.0
# leave empty to use stack default OpenSSL.
NGINX_CUSTOMSSL_VERSION="openssl-1.1.1g"

# Build with PCRE JIT.
NGINX_WITH_PCRE=false

# PCRE JIT version (requires PCRE 8.20 and latest): e.g. pcre-8.44, pcre2-10.35
# get the PCRE version from here https://ftp.pcre.org/pub/pcre/
NGINX_PCRE_VERSION="pcre-8.44"

# Extra parameters,
# requires Nginx installation from source.
NGINX_DYNAMIC_MODULE=true
NGINX_EXTRA_MODULES=true

# Availabe extra modules (true to enable),
# requires Nginx installation from source.
NGX_HTTP_AUTH_PAM=false
NGX_HTTP_BROTLI=true
NGX_HTTP_CACHE_PURGE=true
NGX_HTTP_DAV_EXT=false
NGX_HTTP_ECHO=false
NGX_HTTP_FANCYINDEX=true
NGX_HTTP_GEOIP=true

# GeoIP2 with MaxMind GeoLite2 database. GeoLite2 license key is required,
# Get it from here https://www.maxmind.com/en/geolite2/signup
NGX_HTTP_GEOIP2=false
GEOLITE2_LICENSE_KEY=""

NGX_HTTP_HEADERS_MORE=true
NGX_HTTP_IMAGE_FILTER=true
NGX_HTTP_MEMCACHED=true
NGX_HTTP_NAXSI=true
NGX_HTTP_PASSENGER=false
NGX_HTTP_REDIS2=true
NGX_HTTP_SUBS_FILTER=true
NGX_HTTP_UPSTREAM_FAIR=true
NGX_HTTP_VTS=true
NGX_HTTP_XSLT_FILTER=true
NGX_MAIL=true
NGX_NCHAN=false
NGX_PAGESPEED=true
NGX_RTMP=false
NGX_STREAM=true

[php-fpm]
INSTALL_PHP=true

# It is highly recommended to install PHP version 7.4 or greater.
PHP_VERSION="7.4"

# PHP Loader is a PHP extension (module) that enables PHP
# to load protected and encoded files.
# Available PHP loader: ioncube | sourceguardian
# leave it blank or "none" to skip PHP loader installation.
PHP_LOADER="none"

[php-imagemagick]
# ImageMagick is a free and open-source software suite for manipulating raster and vector image.
# Available ImageMagick & PHP module installer: repo | source
# leave it blank or "none" to skip PHP ImageMagick installation.
PHP_IMAGEMAGICK_INSTALLER="repo"

# Available ImageMagick version: 6.9.10-62 | 7.0.10-14 | latest
PHP_IMAGEMAGICK_VERSION="7.0.10-14"

[php-phalcon]
# Phalcon is a PHP web framework based on the MVC pattern delivered as C-extension.
# Available Phalcon installer: repo | source
# leave it blank or "none" to skip Phalcon installation.
PHP_PHALCON_INSTALLER="repo"

# Available Phalcon version: 3.4.5 | 4.0.6 | latest
PHP_PHALCON_VERSION="4.0.6"

# Phalcon zephir transpiler.
PHP_ZEPHIR_INSTALL=false
PHP_ZEPHIR_VERSION="0.12.19"

[php-composer]
INSTALL_PHPCOMPOSER=true

[mysql]
INSTALL_MYSQL=true
MYSQL_SERVER="mariadb"
MYSQL_VERSION="10.4"

# Allow remote client access.
MYSQL_ALLOW_REMOTE=false

# Securing MySQL installation.
MYSQL_SECURE_INSTALL=true

# Leave it blank for auto generated secure password.
MYSQL_ROOT_PASS=""

# MariaDB backup user.
MARIABACKUP_USER="lemperdb"

# Leave it blank for auto generated secure password.
MARIABACKUP_PASS=""

[memcached]
INSTALL_MEMCACHED=false
MEMCACHED_INSTALLER="repo"

# Available version: 1.6.6 | latest.
MEMCACHED_VERSION="latest"

# Enable SASL authentication.
MEMCACHED_SASL=false
MEMCACHED_USERNAME=""
MEMCACHED_PASSWORD=""

[mongodb]
INSTALL_MONGODB=false
MONGODB_VERSION="4.2"

# MongoDB default admin account.
MONGODB_ADMIN_USER="lemperdb"
MONGODB_ADMIN_PASS=""

[redis]
INSTALL_REDIS=false
REDIS_INSTALLER="repo"
REDIS_VERSION="stable"

# Enable pass authentication.
REDIS_REQUIREPASS=false
REDIS_PASSWORD=""

[dns]
# TODO: Install DNS server.

[mailer]
# Install basic Mailer based on Postfix & Dovecot.
INSTALL_MAILER=false
INSTALL_SPFDKIM=false

# Sender domain is required, default sets to hostname.
# Ensure that the hostname/sender domain already pointed to this server IP address.
SENDER_DOMAIN="example.com"

[certbot]
INSTALL_CERTBOT=true

[firewall]
INSTALL_FW=true

# Firewall configurator engine
# available engine: ufw | csf | apf
# UFW is default Ubuntu firewall configurator.
FW_ENGINE="ufw"

[fail2ban]
INSTALL_FAIL2BAN=true
FAIL2BAN_INSTALLER="source"
FAIL2BAN_VERSION="0.11.1"
