# Environment variables for LEMPer
# Do not remove this file!
#

[lemper]
# Installer version.
LEMPER_VERSION="1.3.0"

# Default account username.
LEMPER_USERNAME="lemper"

# Password for default lemper account,
# leave it blank for auto generated secure password.
LEMPER_PASSWORD=""

# Administration email. Don't leave it blank!
ADMIN_EMAIL="support@lemper.sh"

# Server IP address, leave it blank for auto detection.
IP_SERVER=""

# Default Timezone, leave it blank to use default UTC timezone
# or "none" for current server setting
# Ref: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# Example: Asia/Jakarta
TIMEZONE="UTC"

# Auto install, true for auto installation,
# false for manual or guided installation.
AUTO_INSTALL=true

# Cleanup existing LEMP / LAMP stack installation.
AUTO_REMOVE=false
FORCE_REMOVE=false

# Dry run install, true for testing only.
DRYRUN=false

# Build directorty.
BUILD_DIR="/usr/local/src/lemper"

# Logging for installation process.
LOGGING=true

[ssh]
# Customized SSH port.
SSH_PORT=2269

# Allow SSH root login (value: true | false).
SSH_ROOT_LOGIN=true

# Password-less SSH, login with key (value: true | false).
SSH_PASSWORDLESS=false

# Your RSA Public key.
RSA_PUB_KEY="copy your ssh public rsa key here"

# Hash length (bits), supported value 2048 | 4096 (take too long times)
# length of bits used for generating RSA key / Diffie-Helman params.
HASH_LENGTH=2048

[nginx]
INSTALL_NGINX=true
NGINX_INSTALLER="source"

# Supported Nginx version: stable (lts) | latest (mainline)
NGINX_VERSION="stable"

# Available custom SSL version: openssl-1.1.1c | libressl-3.0.0
# leave empty to use stack default OpenSSL.
NGINX_CUSTOMSSL_VERSION=""

# Extra parameters,
# requires Nginx installation from source.
NGINX_DYNAMIC_MODULE=true
NGINX_EXTRA_MODULES=true

# Availabe extra modules (true to enable),
# requires Nginx installation from source.
NGX_HTTP_AUTH_PAM=false
NGX_HTTP_BROTLI=true
NGX_HTTP_CACHE_PURGE=true
NGX_HTTP_ECHO=false
NGX_HTTP_FANCYINDEX=true
NGX_HTTP_GEOIP=false
NGX_HTTP_GEOIP2=false
NGX_HTTP_HEADERS_MORE=true
NGX_HTTP_IMAGE_FILTER=false
NGX_HTTP_MEMCACHED=false
NGX_HTTP_NAXSI=true
NGX_HTTP_PASSENGER=false
NGX_HTTP_REDIS2=false
NGX_HTTP_SUBS_FILTER=false
NGX_HTTP_VTS=true
NGX_HTTP_XSLT_FILTER=false
NGX_MAIL=true
NGX_NCHAN=false
NGX_PAGESPEED=true
NGX_RTMP=false
NGX_STREAM=true
NGX_UPSTREAM_FAIR=false
NGX_WEB_DAV_EXT=false

[php-fpm]
INSTALL_PHPFPM=true

# Default PHP version, it is highly recommended to install PHP version 7.3 or greater.
PHP_VERSION="7.3"

# PHP Loader is a PHP extension (module) that enables PHP
# to load protected and encoded files.
# Available PHP loader: ioncube | sourceguardian
# leave it blank or "none" to skip PHP loader installation.
PHP_LOADER=""

[php-imagemagick]
# ImageMagick is a free and open-source software suite for manipulating raster and vector image.
# Available ImageMagick & PHP module installer: repo | source
# leave it blank or "none" to skip PHP ImageMagick installation.
PHP_IMAGEMAGICK_INSTALLER="repo"

# Available ImageMagick version: 6.9.10-62 | 7.0.8-62 | latest
PHP_IMAGEMAGICK_VERSION="7.0.8-62"

[php-phalcon]
# Phalcon is a PHP web framework based on the MVC pattern delivered as C-extension.
# Available Phalcon installer: repo | source
# leave it blank or "none" to skip Phalcon installation.
PHP_PHALCON_INSTALLER="repo"

# Available Phalcon version: 3.4.5 | latest
PHP_PHALCON_VERSION="3.4.5"

# Phalcon zephir transpiler.
PHP_PHALCON_ZEPHIR=false

[mysql]
INSTALL_MYSQL=true
MYSQL_SERVER="mariadb"
MYSQL_VERSION="10.4"

# Leave it blank for auto generated secure password.
MYSQL_ROOT_PASS=""

# MariaDB backup user.
MARIABACKUP_USER="lemperdb"

# Leave it blank for auto generated secure password.
MARIABACKUP_PASS=""

[memcached]
INSTALL_MEMCACHED=true
MEMCACHED_INSTALLER="repo"

# Available version: 1.5.17 | latest.
MEMCACHED_VERSION="latest"

# Enable SASL authentication.
MEMCACHED_SASL=false
MEMCACHED_USERNAME=""
MEMCACHED_PASSWORD=""

[mongodb]
INSTALL_MONGODB=false
MONGODB_VERSION="4.2"

# MongoDB default admin account.
MONGODB_ADMIN_USER="lemperdb"
MONGODB_ADMIN_PASS=""

[redis]
INSTALL_REDIS=true
REDIS_INSTALLER="repo"
REDIS_VERSION="stable"

# Enable pass authentication.
REDIS_REQUIREPASS=false
REDIS_PASSWORD=""

[dns]
# TODO: Install DNS server.

[mailer]
INSTALL_POSTFIX=true
INSTALL_DOVECOT=true

[certbot]
INSTALL_CERTBOT=true

[firewall]
INSTALL_FW=true

# Firewall configurator engine
# available engine: ufw | csf | apf
# UFW is default Ubuntu firewall configurator.
FW_ENGINE="ufw"
