.env
.env~
.env.bak
.env.save
.travis.yml
install.log
lemper.log
lemper_install.log
LEMPer.wiki
bin/lemper-cli-enc
bin/lemper-cli-enc.sh
bin/lemper-cli-enc.sh.x.c
bin/lemperography.php
#lib/lemper-create.sh
#lib/lemper-manage.sh
scripts/install_ffmpeg.sh
scripts/createssl.sh
scripts/mysqltuner.pl
