.env
.env.save
.travis.yml
lemper.log
lemper.sh
scripts/install_ffmpeg.sh
scripts/createssl.sh
scripts/mysqltuner.pl
bin/lemper-cli-enc
bin/lemper-cli-enc.sh
bin/lemper-cli-enc.sh.x.c
bin/lemperography.php
LEMPer.wiki
install.log
#lib/lemper-create.sh
#lib/lemper-manage.sh